@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    font-family: sans-serif;
}



#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #1cb698;
    margin-left: auto;
    border-radius: 20px;
}


.carrito{
    margin-right: 50px;
}
.carrito i{
    font-size: x-large;
    color: #fff;
}

span{
    color: white;
    background-color: #f3961c;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: medium;
    text-align: center;
    position: absolute;
    right: 45px;
    top: 20px;
}






body{
    background-color: #252525;
}
.head{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #3b141c;
    z-index: 99;

    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

}

.head .header{
    color: #fff;
    padding: 5px 15px 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.navegation{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.navegation ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.navegation ul li{
    width: 100px;
    height: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.navegation ul li a{
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
}



.navegation ul li:hover a{
    color: #252525;
    background: #f3961c;
    border-radius: 400px;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}




/* Contenido */

.box{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: sans-serif;
}

.palito{
    height: 5px;
    width: 120px;
    background-color: #f3961c;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu .card{
    width: 350px;
    height: 470px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 40px;
}

.menu .card .img{
    height: 70%;
    width: 100%;
    display: flex;
    place-self: center;
}

.menu .card .img img{
    object-fit: cover;
    margin: auto;
    max-width: 85%;
    max-height: 85%;
}

.box .menu .card .botonescard{
    display: flex;
    flex-direction: row;
}
.box .menu .card .botonescard button{
    margin: 10px 5px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color: #f3961c;
    font-weight: bold;
    border: #252525 solid;
    transition: 0.3s;
}

.box .menu .card .botonescard button:hover{
    background-color: #252525;
    color: #ccc;
}

.box .menu .card h3{
    color: #ccc;
    text-align: center;
}

.box .menu .card p{
    color: #ccc;
    text-align: center;
    flex-wrap: wrap;
}

.menu .card:hover{
    background-color: #3b141c;
    transition: 0.5s;
    border: solid;
    transform: scale(1.13,1.13);
}

@media (max-width: 800px){
    .carrito{
        margin-right: 10px;
        padding: 0 20px;
    }
    .head{
        height: 50px;
    }
    .header{
        font-size: x-large;
    }



    
    #menu-toggle{
        display: none;
    }

    .menu-icon{
        display: flex;
        font-size: 28px;
        cursor: pointer;
        color: #fff;
    }

    .head .navegation{
        display: none;
        flex-direction: column;
        width: 100px;
        position: absolute;
        right: 40px;
        top: 60px;


    }
    .head .navegation ul{
        margin: 0 auto;
        padding: 5px 10px;
        background-color: #3b141c;
        border-radius: 30px;
    }

    .head .navegation ul li {
        height: 50px;
        font-size: large;
        margin: 0;
        padding: 0;
    }

    #menu-toggle:checked ~.navegation{
        display: flex;
    }







    .menu{
        flex-direction: column;
    }

    .menu .card{
        width: 350px;
        margin: 40px;
    }

    .menu .card p{
        display: none;
    }

    .menu .card:hover p{
        display: flex;
    }

    .box .menu .card .botonescard button{
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }
    .box .menu .card:hover .botonescard button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px 10px 15px
    }



    .palitoresponsive, .palito{
        display: flex;
        height: 5px;
        width: 240px;
        background-color: #f3961c;
        margin: 0 15px 10px 15px
    }

    span{
        right: 25px;
        top: 5px;
    }
}