@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    font-family: sans-serif;
}
#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    border-radius: 20px;
}

body{
    background-color: #3b141c;
    height: 100vh;
}
.head{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #3b141c;
    z-index: 99;

    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

}

.head .header{
    color: #fff;
    padding: 5px 15px 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.navegation{
    margin-right: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.navegation ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.navegation ul li{
    width: 100px;
    height: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.navegation ul li a{
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
}



.navegation ul li:hover a{
    color: #252525;
    background: #f3961c;
    border-radius: 400px;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.carrito{
    margin-right: 50px;
}
.carrito i{
    font-size: x-large;
    color: #fff;
}

#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #1cb698;
    margin-left: auto;
    border-radius: 20px;
}

/*contenido*/



.box{
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.text-l{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.text{
    margin-left: 15px;
}

h1{
    display: flex;
    font-family: 'Miniver', sans-serif;
    color: #f3961c;
}

.responsive{
    display: none;
}

.box .text-l .text h1{
    color: #f3961c;
    font-family: 'Miniver', sans-serif;
}

.box .text-l .text h2{
    font-size: 35px;
}
.box .text-l .text p{
    font-size: 15px;
}



.box .text-l .text .botones{
    display: flex;
    max-width: 300px;
    margin: 1px 1px;
}
.botones button{
    color: #fff;
    font-weight: bold;
    background-color: #3b141c;
    border-radius: 50px;
    padding: 15px;
    width: 150px;
    margin: 0 auto;
}

.botones .boton:hover{
    color: #252525;
    background-color: #f3961c;
    transition: 0.3s;
}







.img-r{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}

.img-r img{
    width: 100%;
    place-self: center;
}

@media (max-width: 800px){
    .head{
        height: 50px;
    }
    .header{
        font-size: x-large;
    }
    #menu-toggle{
        display: none;
    }

    .menu-icon{
        display: flex;
        font-size: 28px;
        cursor: pointer;
        color: #fff;
        margin-right: 40px;
    }

    .head .navegation{
        display: none;
        flex-direction: column;
        width: 100px;
        position: absolute;
        right: 40px;
        top: 60px;


    }
    .head .navegation ul{
        margin: 0 auto;
        padding: 5px 10px;
        background-color: #3b141c;
        border-radius: 30px;
    }

    .head .navegation ul li {
        height: 50px;
        font-size: large;
        margin: 0;
        padding: 0;
    }

    #menu-toggle:checked ~.navegation{
        display: flex;
    }

    .head{
        display: flex;
        justify-content: space-between;
    }
    .navegation ul li:hover a{
        transition: none;
    }

    body{
        width: 100vw;
    }

    .box{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .box .text-l .text .normal{
        display: none;
    }

    .responsive{
        display: flex;
    }

    .box .img-r{
        display: flex;
        margin: 20px;
    }
    .box .text-l .text .botones .boton{
        margin: 10px 30px;
    }
    .botones a{
        margin: 2px 5px;
    }
}